:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

button{
  display: inline-block;
  border-radius: .175rem;
  border: none;
  padding: .5rem .75rem;
  background-color: #a7e6ff;
}

.btn-danger{
  background-color: #ffb65f;
}

.btn-ok{
  background-color: #8bff00;
}


